:javascript
  $(document).ready( function() {
    $('#search').click(function() {
      sendreq();
    });
    $('#filter').keypress( function (evt) {
      if (evt.which == 13) {
        sendreq();
      }
    });
    var sendreq = function(){
    var filter = $('#filter').val();
      $.ajax({
        dataType : 'html',
        url: "/books.js?filter="+filter
      }).done(function(data) {
          $('#books').html(data);
        }
      ).fail(function(jqXHR, textStatus, errorThrown) {
          console.log("fail: "+errorThrown);
      });
      };
  });

%div.row
  %div.col-lg-12
    %div.input-group
      %input#filter.form-control{type:"text", placeholder:"Search by fuzzy title, press enter or Go to search"}
      %span.input-group-btn
        %button#search.btn.btn-default{type:"button"} Go!
%div.row
  %div.col-lg-12
    %div#books
      = render 'index'


